*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
}
.container{
    display:flex; 
    margin: 50px auto;
    height: 400px;
    width: 400px;
    position:relative;    
}

.outer-circle { 
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;  
    border-radius: 50%;
    border:2px solid grey;
    box-shadow:20px 20px 56px -6px grey;
   
}
.circle{
    border-radius:50%;
    width:92%;
    height:92%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;  
    position:absolute;
    box-shadow:20px 20px 56px -6px grey inset;
    border:2px solid grey;
}
.elements{
    position:relative;
    top:30%;
    margin:0 auto;
}
p{
    display:inline;
    font-size:60px;
}

    

/*input{
    height:60px;
    padding:2px;
    margin:2px;
    font-size:60px;
    width:90px;
    border:none;
    background-color:transparent; 
}
p{  
    font-size:60px;
    display:inline;
    v
    
}*/
button{
    margin:20px;
    width:8em;
    height: 2em;
    border-radius:6%;
    border:2px solid grey;
}
.icon{
    font-size:40px;
    padding:20px 30px;
    padding-top:10px;

}
